@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #0f0f0f;
        --text-color: #f0f0f0b3;
        --font-size: 0.9em;
        --cell-size: 30px;
        --button-color: #1f2937;
        --margin-general: 20px;
        --brown1: #7c3f00;
        --brown2: #633200;
        --brown3: #562b00;
        --brown4: #492201;
        --brown5: #3e1c00;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    font-size: var(--font-size);
}

.creature-list {
    display: flex;
    flex-direction: row;
}

.evil {
    background-color: var(--brown4);
}

.good {
    background-color: var(--brown2);
}

.creature-kvadrat {
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    margin: 5px;
}
