@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #222;
}

@font-face {
	font-family: cinzel;
	font-display: swap;
	src: url(./fonts/Cinzel-Medium.ttf) format("truetype");
}

@font-face {
	font-family: nunito;
	font-display: swap;
	src: url(/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: cinzel, serif;
	text-align: center;
	vertical-align: middle;
}

h2 {
	font-size: larger;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	color: var(--foreground);
	background: var(--background);
	min-height: 100vh;
	/*font-family: Arial, Helvetica, sans-serif;*/
}

main {
	flex-grow: 1;
}

.header {
	background-image: url(/images/bg-button.png);
}

.header-top {
	display: grid;
	grid-template-columns: 120px auto 120px;
	height: 100px;
}

.header-top > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.header-navigation {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: top;
}

.header-navigation > h3 {
	margin-left: 10px;
	margin-right: 10px;
}

.line {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 25px;
	gap: 25px;
	width: 100%;
}

.creature-gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.noresize > img {
	object-fit: none;
}

.creature-card {
	width: 300px;
	height: 250px;
	min-width: 300px;
	min-height: 150px;
	border: 2px solid black;
	background-image: url(/images/bg-gray.png);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: start;
	align-items: start;
	row-gap: 12px;
}

.creature-card > .top {
	display: flex;
	width: 100%;
	height: 48px;
}

.creature-card > .info {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a c" "b c";
	margin-left: 10px;
	margin-right: 10px;
}

.info > .rooms {
	grid-area: a;
}
.info > .jobs {
	grid-area: b;
}
.info > .abilities {
	grid-area: c;
}

.tabel {
	justify-content: center;
	align-items: center;
}

.critname {
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
	align-items: center;
}

/*.critroom, critspells {}*/

.footer {
	height: 60px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
